@import "./mediaQueries.scss";

.content {
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .content {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    margin-left: 10%;
    margin-right: 10%;
  }
}
