.portada_container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  .video_container {
  }
  img.lotes {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 30%;
  }

  .video {
    object-fit: fill;
    object-position: center;
    height: 400px;
    width: 100%;
  }
}
