@import "../../../resources/colors.scss";

.trwehave_container {
  .header {
    display: flex;
    justify-content: center;
    .weHave {
      color: white;
      padding: 10px 15px;
      background-color: $primary;
      text-align: center;
      border-radius: 24px;
    }
  }

  .list_benefits {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    .item_benefit {
      padding: 30px 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      background-color: $gray;
      color: $primary;
      border: 1px solid $primary;
      border-radius: 20px;
      text-align: center;
    }
  }
}
