@import "../../../resources/colors.scss";

.trcard_container {
  .social_icons {
    text-align: center;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    .icons_container {
      bottom: -20px;
      background-color: white;
      border-radius: 20px;
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 10px 12px 6px;
      color: $primary;
      a {
        cursor: pointer;
      }
      a:hover {
        color: $secondary;
      }
      a:visited {
        color: $primary;
      }
    }
  }
  .card_container {
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    border-radius: 20px;
    .card_header {
      display: flex;
      justify-content: space-evenly;
      gap: 10px;
      padding: 10px;

      .primaryColor {
        color: $primary;
      }

      .iconText {
        gap: 5px;
      }
    }
    .card_body {
      background-color: $tertiary;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      .flex_body_left {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .descuento {
          background-color: $primary;
          color: white;
          padding: 9px 20px;
          border-radius: 18px;
          font-size: 17px;
          text-align: center;
        }
      }
      .flex_body_right {
        display: flex;
        flex-direction: column;
        align-items: end;
        color: $primary;
      }
    }
  }
}
